<section>
    <div class="row">
        <div class="col timeline">
            <div class="row">
                <div class="border"></div>
                <div class="no-border"></div>
            </div>
            <div class="row dot" [ngClass]="{'dot-filled':position=='first'}"></div>
            <div class="row">
                <div class="border"></div>
                <div class="no-border"></div>
            </div>
        </div>
        <div class="col content">
            <div class="title">{{title}}</div>
            <div class="subtitle">{{subtitle}}</div>
            <div class="dates">{{dates}}</div>
            <document-section [contentList]="content"></document-section>
        </div>
    </div>
</section>