@import '../../../../../variables.scss';


.content{
    padding-left: 1rem;
}

.timeline{
    width: $timeline-width;
    .row{
        position: relative;
        height: 100%;
    }


    .border{
        position: relative;
        width: $timeline-width/2;
        height: calc( 100% - 25px);
        height: 100%;
    } 
    .no-border{
        position: relative;
        width: $timeline-width/2;
        height: calc( 100% - 25px);
        height: 100%;
    }
    .border{
        border-right: solid $timeline-color thin;
    }
    .dot{
        position: relative;
        width: $dot-size;
        height: $dot-size;
        border-radius: 50%;
        border: solid thin $timeline-color;
        margin: 0;
        flex-grow: 0;
        flex-shrink: 0;
        align-self: center;
        margin: $dot-margin;
    }
    .dot-filled{
        background-color: $timeline-color;
    }
}