 <div class = "perspective">
<div class="screen" rotateOnHover [transformatoinOrder]="'translateThenRotate'" [zoomValue] = '300' >
    <div class="slide" 
        [ngClass]="{'displayed': isDisplayed('A'), 'before': isBefore('A'), 'after': isAfter('A'), 'animated': isAnimated('A')}">
        <img   *ngIf="isImageReady()"
            [src]="imageA" alt="title">
    </div>
    <div class="slide" 
        [ngClass]="{'displayed': isDisplayed('B'), 'before': isBefore('B'), 'after': isAfter('B'), 'animated': isAnimated('B')}">
        <img  *ngIf="isImageReady()"
            [src]="imageB" alt="title">
    </div>
</div>
</div>