
$img-width: 200px;
$img-height: 200px;

.screen{
    position: relative;
    display: inline-block;
    width: $img-width;
    height: $img-height;
    transition: 0.3s;
    overflow: hidden;
    .slide{
        position: absolute;
        display: inline-block;
        width: $img-width;
        height: $img-height;        
    }
    .before{
        top: 0;
        transform: translate3d(-120%, 0, 0);
    }
    .after{
        top: 0;
        transform: translate3d(120%, 0, 0);
    }
}
.animated{
    transition: 0.5s;
}

.isDisplayed{
    top:0;
    left: 0;
    transform: translate3d(0, 0, 0);
}

.perspective{
    perspective: 1000px;
    transform-style: preserve-3d;
}
img{
    position: relative;
    width: $img-width;
    height: $img-height;
    transform-origin: center center;
    cursor: pointer;
    border: solid medium red;
    transition: 0.3s;
    transform-style: preserve-3d;
    &:hover{
        transition: 0.3s;
        transform-style: preserve-3d;
    }
}