
$img-width: 200px;
$img-height: 200px;
// :host{
//     &:hover{
//         transform-style: preserve-3d;
//         border: solid red thick;
//     }
//     section{
//         transform: translateZ(1px);
//     }
// }
.screen{
    position: relative;
    display: inline-block;
    width: $img-width;
    height: $img-height;
    transition: 0.3s;
    overflow: hidden;
    .slide{
        position: absolute;
        display: inline-block;
        width: $img-width;
        height: $img-height; 
    }
    .before{
        top: 0;
        transform: translate3d(-120%, 0, 0);
    }
    .after{
        top: 0;
        transform: translate3d(120%, 0, 0);
    }
    :hover{
        
        z-index: 1000;
    }
}
.animated{
    transition: 0.5s;
}

.isDisplayed{
    top:0;
    left: 0;
    transform: translate3d(0, 0, 0);
}

.perspective{
    perspective: 1000px;
    transform-style: preserve-3d;
    transform-origin: center center;
}
img{
    position: relative;
    width: $img-width;
    height: $img-height;
    transform-origin: center center;
    cursor: pointer;
    transition: 0.3s;
    transform-style: preserve-3d;
    object-fit: contain;
    &:hover{
        transition: 0.3s;
        transform-style: preserve-3d;
        z-index: 1000;
        position: absolute;
    }
}