:host{
    position: relative;
    width: 100vw;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 25vh;
}

@media only screen and (max-width: 630px){
    :host{
        justify-content: flex-start;
    }
}