.shutter{
    background-color: black;
    z-index: 50;
    overflow: hidden;
    
}

.text-area{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    width: 70%;
    
    text-align: center;
}
.small-screen-text{
    font-size: 3rem;
    width: 90%;
}

.hidden{
    opacity: 0;
    transition: 0.3s;
}
.visible{
    opacity: 1;
    transition: 0.3s;
}