<!-- <section class = "card big-screen">
    <div class="row-c">
        <div class="c col-lg-3  perspective">

            <a [routerLink] = "[route]">
                <slide-show (click)="switchToPage(title)"
                    [imageArray] = "imageNameArray" 
                    [title] = "title">
                </slide-show>
            </a>
        </div>
        <div class="co col-lg-9">
                <a href='#' [routerLink] = "[route]"> <div class="title">{{title}}</div> </a>
            <div class="content" [innerHTML]="content"></div>
        </div>
    </div>
</section> -->

<section class = "card small-screen">
    <div class="col center">
        <!-- <a href='#' [routerLink] = "[route]"> <div class="title">{{title}}</div> </a> -->
        <a class="link" [attr.data-content]="title" href='#' [routerLink] = "[route]"> 
            <span>{{title}}</span> 
        </a>
        <div class="content">
            <a [routerLink] = "[route]">
                <slide-show (click)="switchToPage(title)"
                    [imageArray] = "imageNameArray" 
                    [title] = "title">
                </slide-show>
            </a>
            <span [innerHTML]="content"></span>
            <!-- {{content}} -->
        </div>
    </div>
</section>
