.row{}
.col:last-child{
    margin-left: 1rem;
}
img{
    position: relative;
    width: 200px;
    height: 200px;
    transform-origin: center center;
    cursor: pointer;
}
.title{
    text-align: center;
}
.content{
    cursor: default;
}
section{
    position: relative;
    max-width: 700px;
    border: solid thin rgb(50, 50, 50);
    padding: 0.4rem;
    margin:0.7rem;
}
