<section class = "card">
    <div class="row">
        <div class="col perspective">

            <!-- <img rotateOnHover [transformatoinOrder]="'translateThenRotate'" [zoomValue] = '100' 
                [src]="imagePath" alt="title" (click)="switchToPage(title)"
            > -->
            <slide-show (click)="switchToPage(title)"
                 [imageArray] = "imageNameArray" 
                 [title] = "title">
            </slide-show>
        </div>
        <div class="col">
            <div class="title">{{title}}</div>
            <div class="content" [innerHTML]="content"></div>
        </div>
    </div>
</section>
