<section class = "card big-screen">
    <div class="row">
        <div class="col perspective">

            <!-- <img rotateOnHover [transformatoinOrder]="'translateThenRotate'" [zoomValue] = '100' 
                [src]="imagePath" alt="title" (click)="switchToPage(title)"
            > -->
            <a [routerLink] = "[route]">
                <slide-show (click)="switchToPage(title)"
                    [imageArray] = "imageNameArray" 
                    [title] = "title">
                </slide-show>
            </a>
        </div>
        <div class="col">
                <a href='#' [routerLink] = "[route]"> <div class="title">{{title}}</div> </a>
            <div class="content" [innerHTML]="content"></div>
            <!-- <span class="content" [innerHTML]="content"></span> -->

        </div>
    </div>
</section>

<section class = "card small-screen">
    <div class="col">
        <div class="title">{{title}}</div>
        <div class="content">
            <a [routerLink] = "[route]">
                <slide-show (click)="switchToPage(title)"
                    [imageArray] = "imageNameArray" 
                    [title] = "title">
                </slide-show>
            </a>
            <span [innerHTML]="content"></span>
            <!-- {{content}} -->
        </div>
    </div>
</section>
