:host{
    position: relative;
    width: 100%;
    box-sizing: unset;
}
img{
    float: left;
    shape-margin: 1rem;
}
.image-small-screen{
    display: none;
}

.wrapper{
    position: relative;
    
}

p{
    width: unset;
    width: 100%;
    // display: unset;
    text-align: justify;
    padding: unset;
    margin: 0;
    
}
@media only screen and (max-width: 410px){
    .content{display: block;}
    img{
        float: none;
        display: block;
        margin: 0 auto;
    }
    .wrapper{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 400px){
    .wrapper{
        margin: 0;
    }
}
// @media only screen and (max-width: 550px){
//     .image-small-screen{
//         display: inline-block;
//         float: unset;
//     }
//     .wrapper{
//         padding:unset;
//         margin-right: 20px;
//         padding-right: 20px;
//     }
//     .image-big-screen{
//         display: none;
//     }
// }
// @media only screen and (max-width: 740px){
//     section {
//         .p, .paragraph{
//             margin-left: 0;
//             margin-right: 0;
//             padding: 0px;
//             padding-left: 20px;
//             padding-right: 20px;
//         }
//     }
// }
