// <div class="custom-button">
//     {{shortenedCaption}}
//     <div *ngIf="tooLongCaption()" class="tool-tip">
//         {{caption}}
//     </div>
// </div>
:host{
}
.perspective{
    perspective: 100px;
    position: relative;
    max-width: 100px;
    min-width: 20px;
}
.custom-button{
    max-width: 100px;
    min-width: 20px;
    height: 40px;
    font-size: 2rem;
    padding: 5px;
    background-color: rgb(200,200,200);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 21px 6px #000000;
    transform-origin: center center;
    transition: 0.3s;
    &:hover{
        cursor: pointer;
    }
}
.toot-tip{
    position: absolute;
    top: -1rem;
    left: 0;
    background-color: white;
    color: black;
    transition: 0.2;
    transition-delay: 0.5s;
}