$link-animation-duration: 0.5s;
:host{
    position: relative;
    width: 100%;
}
section{
    display: flex;
    // border-top: solid black thin;
    h1{
        display: block;
        position: relative;
        text-align: right;
        width: 400px;
        flex-grow: 0;
        flex-shrink: 0;
        margin-top: 0;
    }
}

article{
    h2{padding-left: 30px;}
}

a {
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 5px;
    animation: blink-link 3s infinite;
    padding: 3px;
}

@keyframes blink-link{
    0% { color: rgb(120, 120, 50);}
    50% {color:black; background-color: rgba(120, 120, 50, 0.2)}
    100% { color: rgb(120, 120, 50);}
}

a{
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    overflow: hidden;
    position: relative;
    display: inline-block;
    &:before{
        position: absolute;
        display: inline-block;
        overflow: hidden;
        content: attr(data-content);
        color: transparent;
        border-bottom: black thin solid;
        transition-timing-function: cubic-bezier(0.5, 0.5, 0.3, 1);
        transition-duration: $link-animation-duration;

        transform: translate(-100%);
        height: calc(100% - 5px);
        width: 0;
    }
    &:after{
        position: relative;
        position: absolute;
        width: 100%;
        height: 100%;
        content: attr(data-content);
        color: black;
        transition-timing-function: cubic-bezier(0.5, 0.5, 0.3, 1);
        transition-duration: $link-animation-duration;

        right: -100%;
        // transform: translate3d(150%, 0, 0);
    }

    &:hover span{
        transform: translate3d(-150%, 0, 0);
        transition-timing-function: cubic-bezier(0.5, 0.5, 0.3, 1);
        transition-duration: $link-animation-duration;

    }
    &:hover{
        &:after{
            // transform: translate3d(0, 0, 0);
            right: 0;
            transition-timing-function: cubic-bezier(0.5, 0.5, 0.3, 1);
            transition-duration: $link-animation-duration;
        }
        &:before{
            transform: translate3d(0, 0, 0);
            transition-timing-function: cubic-bezier(0.5, 0.5, 0.3, 1);
            transition-duration: $link-animation-duration;

            width: 100%;
        }
    }
    span{
        position: relative;
        transition-timing-function: cubic-bezier(0.5, 0.5, 0.3, 1);
        transition-duration: $link-animation-duration;
        display: inline-block;
    }
}

@media only screen and (max-width: 1130px){
    section{
        h1 {
            width: 300px;
            font-size: 3rem;
        }
    }
    article{
        h2 { font-size: 2rem;}
    }
}
@media only screen and (max-width: 1050px){
    section{
        h1 {
            width: 250px;
            font-size: 2.5rem;
        }
    }
}
@media only screen and (max-width: 990px){
    section {
        display: block;
        h1{
            width: 100%;
            text-align: left;
        }
    }
}

@media only screen and (max-width: 740px){
    section {
        p, .paragraph{
            margin-left: 0;
            margin-right: 0;
            padding: 0px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media only screen and (max-width: 570px){
    section {
        h1{
            display: inline-block;
            position: relative;
            width: 520px;
        }
    }
}

@media only screen and (max-width: 320px){
    :host{
        justify-content: flex-start;
        margin:0;
    }
    section{
        margin:0;
    }
}

@media only screen and (max-width: 520px){
    section {
        h1{
            display: inline-block;
            position: relative;
            width: 400px;
            width: 100%;
        }
    }
}
