<ng-container  *ngFor="let item of contentList">
    
    <!-- <section *ngIf="item.type=='section'"> -->
    <section *ngIf="item.type=='section'" class="row-c">
        <!-- <h1>{{item.title}}</h1> -->
        <h1 class = "col-12 col-lg-3">{{item.title}}</h1>
        <!-- <document-section [contentList]="item.content"></document-section> -->
        <document-section class="col-12 col-lg-9" [contentList]="item.content"></document-section>
    </section>

    <section *ngIf="item.type=='row-section'" class="row-c no-right-margin" >
        <h1 class = "col-12 col-lg-3">{{item.title}}</h1>
        <document-section class="row wrap center col-12 col-lg-9" [contentList]="item.content"></document-section>
    </section>

    <article *ngIf="item.type=='article'">
        <h2>{{item.title}}</h2>
        <document-section [contentList]="item.content"></document-section>
    </article>

    <p *ngIf="item.type=='p'" [innerHTML]="item.content" class="paragraph"></p>

    <ul *ngIf="item.type=='unordered-list'" class="paragraph">
        <li *ngFor="let el of item.content" [innerHTML]="el"></li>
    </ul>

    <image-component *ngIf="item.type=='image'" 
        [imageName]="item.imageName"
        [imageAlt]="item.imageAlt"
        [maxHeight] = "item.maxHeight!=undefined?item.maxHeight:''"
    >
    </image-component>
    <images-in-a-row *ngIf="item.type=='images-in-a-row'"
        [imageList]="item.imageList"
        [maxHeight]="item.maxHeight!=undefined?item.maxHeight:''"
    >
    </images-in-a-row>

    <employment-entry *ngIf="item.type=='cv-employment-entry'"
        [title] = "item.title"
        [content] = "item.content"
        [subtitle] = "item.subtitle"
        [dates] = "item.dates"
        [position] = "item.position"
    ></employment-entry>

    <section class="compensateTimelie" *ngIf="item.type == 'cv-additional-entry'">
        <div class="row">
            <div class="compensateTimeline">
            </div>
            <div class="content card">
                <div class="title">{{item.title}}</div>
                <div class="subtitle">{{item.subtitle}}</div>
                <div class="dates">{{item.dates}}</div>
            <document-section [contentList]="item.content"></document-section>
            </div>
        </div>
    </section>

    <cv-document *ngIf="item.type == 'cv-document'"
        [contentList] = "item.content"
    ></cv-document>

    <cv-entry-section *ngIf="item.type == 'cv-section-entry'"
        [title] = "item.title"
        [content] = "item.content"
    ></cv-entry-section>


    <skill-list 
        *ngIf="item.type=='skill-list'"
        [title] = "item.title"
        [subtitle] = "item.subtitle"
        [dates] = "item.dates"
        [content] = "item.content"
    >
    </skill-list>
    
    <portfolio-entry *ngIf="item.type=='portfolio-entry'"
        [title] = "item.title"
        [route] = "item.route"
        [imageNameArray] = "item.imageNameArray"
        [content] = 'item.content'
        (mouseenter) = "increaseZ($event)"
        (mouseleave) = "decreaseZ($event)"
    ></portfolio-entry>

    <information-note *ngIf="item.type=='information-note'"
        [severity]="item.severity"
        [content]="item.content"
    ></information-note>

    <div *ngIf="item.type=='link'" class="link">
        <a [href]="item.href" target="_blank" [attr.data-content]="item.title">
            <span>{{item.title}}</span>
        </a>
    </div>

    <image-paragraph *ngIf="item.type=='image-paragraph'"
        [imageName]="item.imageName"
        [imageAlt] ="item.imageAlt"
        [content] = "item.content">
    </image-paragraph>

</ng-container>

