@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

@import './variables.scss';
*{
    font-family: 'Work Sans', sans-serif;
    // border: solid red thin;
    box-sizing: border-box;
    --max-document-components-width: 1200px;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin:0;
}

.document-image-wrapper, p, ul, information-note{
    // max-width: var(--max-document-components-width);
    text-align: justify;
}
.card{
    ul{
        text-align: unset;
        font-size: 1.2rem;
        font-family: 'Nunito', sans-serif;
        li{
            margin-top:3px;
            font-family: 'Nunito','Work Sans', sans-serif;
        }
    }
}
.subtitle{
    font-weight: bold;    
}
.dates{
    font-size: 1.2rem;
    font-style: italic;
}

.row-c{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-right: 150px;
    margin-left:  -15px;
}

.no-right-margin{
    margin-right: 0;
}

@for $i from 1 through 12 {
    .col-lg-#{$i}{
        flex: 0 0 calc( #{$i} * 8.33333% );
        max-width: calc( #{$i} * 8.33333%)
    }
}
section>h1{
    text-align: right;
    word-wrap: break-word;
    word-break: break-word;
}


.p, .paragraph{
    font-size: 1.4rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 1200px;
    max-width: var(--max-document-components-width);
}

strong {
    color: #442; //f8f537
    background: linear-gradient(100deg,#57f8f000 1%,#57f8f0 2.5%,#57f8f080 5%,#57f8f025 90%,#57f8f0b8 95%,#57f8f050 97.5%);
    padding: .1em .4em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    margin: 0;
    border-radius: 7px;
}

ul{
    font-size: 1.4rem;
    padding-left: 80px;
    margin: 0;
    margin-bottom: 2rem;
}
section{
    // width: 100vw;
}

code{
    
    background-color:rgba(120, 120, 50, 0.2);
    font-size: 1.2rem;
    padding: 2px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 3.5rem;
    font-weight: normal;
}
h2{
    font-size: 2.5rem;
    font-weight: normal;
}
@mixin flex-center{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.center{
    @include flex-center;
}
.inline-block{
    display: inline-block;
}

.perspective{
    perspective: 100px;
}

.button{
    transition: 0.3s;
    &:hover{
        transition: 0.3s;
        transform: scale(1.1) rotateY(10deg);
        
    }
    &:active{
        transition: 0.3s;
        transform: scale(0.9), rotateY(-10deg);
        color: black;
        background-color: yellow;
    }
}

@mixin flex-row-general {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.row, .flex-row{
    @include flex-row-general;
}
.photos-in-row{
    @include flex-row-general;
    @include flex-center;
    width: 100%;
}
.row-scalable{
    //Only for media there should be an affect
}
.wrap{
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
.col--1{
    position: relative;
    width: 290px;
    flex-grow: 0;
    flex-shrink: 0;  
    margin-right: 100px;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
}
.title{
    // font-weight: bold;
    // font-family: Helvetica;
    font-size: 2rem;
}
.content{
    color: black;
    // font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}
.card{
    .content {
        font-size: 1.2rem;
    }
}

.shutter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.compensateTimeline{
    position: relative;
    width: calc( #{$timeline-width} * 1);
}


.card{
    position: relative;
    // border: solid rgb(50, 50, 50) thin;
    font-size: 1.4rem;
    max-width: 600px;
    width: 600px;
    background-color: rgb(235, 235, 235);
    margin-left: 50px;
    .title{
        font-weight: bold;
    }
    .subtitle{

    }

    @mixin pseudo-element-shadow{
        position: absolute;
        bottom: 20px;
        width: 50%;
        height: 50px;
        box-shadow: -1px 45px 47px -2px #000000;
        box-shadow: -1px 45px 47px -8px #000000;
        content: '';
        z-index: -1;
    }

    padding: 20px;
    margin-bottom: 50px;
    &:before{
        @include pseudo-element-shadow();
        left: 10px;
        transform: rotate(-7deg); 
        // box-shadow: -1px 31px 33px 7px #000000;
    }
    &:after{
        @include pseudo-element-shadow();
        right: 10px;
        transform: rotate(7deg);
        // box-shadow: -1px 31px 33px 7px #000000;
    }
}

// @media only screen and (max-width:$portfolio-big-screen-threshold){
//     .card{
//         max-width: 600px;
//         width: 600px;
//     }
// }

@media only screen and (max-width:1450px){
    h1{
        font-size: 2.8rem;
    }
    h2{
        font-size: 2.2rem;
    }
}
@media only screen and (max-width:1290px){
    @for $i from 1 through 12 {
        .col-#{$i}{
            position: relative; width: 100%; padding-right: 15px; padding-left: 15px;
            flex: 0 0 calc( #{$i} * 8.33333333% );
            max-width: calc( #{$i} * 8.3333333% );
        }
    }
    section>h1{
        text-align: unset;
    }
    .row-c{
        margin-right: -15px;
    }
}
@media only screen and (max-width: 780px){.card{width:400px;}}

@media only screen and (max-width: 580px){
    .compensateTimeline{
        display: none;
    }
}

@media only screen and (max-width: 490px){
    .card{
        margin-left: 0;
        // width:300px;
    }
}
@media only screen and (max-width: 400px){
    .card{
        width:100%;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 330px){
    .card{
        // width:200px;
        .title{
            font-size: 1.5rem;
        }
    }
}
@media only screen and (max-width: 450px){
    .p, .paragraph{
        font-size: 1.1rem;
    }
    code{
        font-size: 1.1rem;
        padding: 0px;
        padding-left: 2px;
        padding-right: 2px;
    }
}