@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
.center{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.button{
    transition: 0.3s;
    &:hover{
        transition: 0.3s;
        transform: scale(1.1) rotateY(10deg);
        
    }
    &:active{
        transition: 0.3s;
        transform: scale(0.9), rotateY(-10deg);
        color: black;
        background-color: yellow;
    }
}


