@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

$timeline-width: 40px;

*{
    font-family: 'Work Sans', sans-serif;
    // border: solid red thin;
}
html,body{
    height: 100%;
    overflow-x: hidden;
}
.center{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.perspective{
    perspective: 100px;
}

.button{
    transition: 0.3s;
    &:hover{
        transition: 0.3s;
        transform: scale(1.1) rotateY(10deg);
        
    }
    &:active{
        transition: 0.3s;
        transform: scale(0.9), rotateY(-10deg);
        color: black;
        background-color: yellow;
    }
}

.row{
    display: flex;
    flex-direction: row;
}
.row-scalable{
    //Only for media there should be an affect
}
.wrap{
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
.col-1{
    position: relative;
    width: 400px;
    flex-grow: 0;
    flex-shrink: 0;  
    margin-right: 100px;
}
.title{
    // font-weight: bold;
    // font-family: Helvetica;
    font-size: 2rem;
}
.content{
    color: black;
    // font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

.shutter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.compensateTimeline{
    position: relative;
    width: calc( #{$timeline-width} * 1);
}

.card{
    position: relative;
    // border: solid rgb(50, 50, 50) thin;
    font-size: 1.4rem;
    max-width: 600px;
    background-color: rgb(235, 235, 235);
    margin-left: 50px;
    .title{
        font-weight: bold;
    }
    .subtitle{

    }
    @mixin pseudo-element-shadow{
        position: absolute;
        bottom: 20px;
        width: 50%;
        height: 50px;
        box-shadow: -1px 45px 47px -2px #000000;
        box-shadow: -1px 45px 47px -8px #000000;
        content: '';
        z-index: -1;
    }

    padding: 20px;
    margin-bottom: 50px;
    &:before{
        @include pseudo-element-shadow();
        left: 10px;
        transform: rotate(-7deg); 
        // box-shadow: -1px 31px 33px 7px #000000;
    }
    &:after{
        @include pseudo-element-shadow();
        right: 10px;
        transform: rotate(7deg);
        // box-shadow: -1px 31px 33px 7px #000000;
    }
}

@media only screen and (max-width: 750px){
    .row-scalable{flex-direction: column};
}