<nav>
    <!-- <ul>
        <li class="button" *ngFor="let item of contentList" (click)="switchToPage(item.content)">{{item.title}}</li>
    </ul> -->
    <div class="nav-wrapper">
        <a 
            *ngFor="let item of contentList" 
            [routerLink]="[item.path]">
            <nav-button 
                
                [label]="item.content"
                [isButtonPressed]="isButtonSelected(item.content)"
                (mousedown) = "selectButton(item.content)"
                
            >
            </nav-button>
        </a>
        <!-- (click) = "informAboutPageTurning(item.title)" -->

    </div>
</nav>

<!-- [label]="item.title" (click)="switchToPage(item.content)"></nav-button> -->
        <!-- <custom-button *ngFor="let item of contentList" [caption]="item.title" (click)="switchToPage(item.content)"></custom-button> -->