<nav>
    <!-- <ul>
        <li class="button" *ngFor="let item of contentList" (click)="switchToPage(item.content)">{{item.title}}</li>
    </ul> -->
    <div class="nav-wrapper">
        <nav-button 
            *ngFor="let item of contentList" 
            [label]="item.title"
            [isButtonPressed]="isButtonSelected(item.title)"
            (mousedown) = "selectButton(item.title)"
            (click) = "informAboutPageTurning(item.title)"
        >
        </nav-button>
        

    </div>
</nav>

<!-- [label]="item.title" (click)="switchToPage(item.content)"></nav-button> -->
        <!-- <custom-button *ngFor="let item of contentList" [caption]="item.title" (click)="switchToPage(item.content)"></custom-button> -->